{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="inner-wrap-container">
    <div class="inner-wrap">
        <div class="error-wrap text-center">
            <span class="error-code">{{code}}</span>
            <h1 class="error-message h3">{{message}}</h1>
            <p class="message-manual">{{t "Maybe the URL is incorrect, or the page no longer exist."}}</p>
            <a href="{{@site.url}}" class="btn btn-rounded btn-secondary btn-sm back-btn">{{t "Return to home page"}} {{> icons/arrow-right}}</a>
        </div>
    </div>
</div>