<div class="about-author-section text-center">
    <div class="section-title h5 text-center">{{#has author="count:>1"}}{{t "This post was collaboration between:"}}{{else}}{{t "This post was written by:"}}{{/has}}</div>
    <div class="about-author-wrap d-flex flex-wrap">
        {{#foreach authors}}
        <div class="about-author text-center d-flex flex-column flex-grow-1">
            {{#if profile_image}}
                <a href="{{url}}" title="{{name}}"><img src="{{profile_image}}" alt="Author image" class="avatar"></a>
                {{else}}
                <a href="{{url}}" title="{{name}}"><div class="avatar no-image ml-auto mr-auto">{{> icons/user}}</div></a>
            {{/if}}
            <h3 class="name h4"><a href="{{url}}">{{name}}</a></h3>
            <ul class="meta-info">
                {{#if twitter}}
                <li><a href="{{twitter_url}}" target="_blank">{{> icons/twitter}}</a></li>
                {{/if}}
                {{#if facebook}}
                <li><a href="{{facebook_url}}" target="_blank">{{> icons/facebook}}</a></li>
                {{/if}}
                {{#if website}}
                <li><a href="{{website}}" target="_blank">{{> icons/link}}</a></li>
                {{/if}}
                {{#if location}}
                <li class="location">{{> icons/location}}{{location}}</li>
                {{/if}}
            </ul>
            {{#if bio}}
            <div class="bio">
                {{{bio}}}
            </div>
            {{/if}}
            <div class="permalink"><a href="{{url}}">{{t "See all post by"}} {{name}}</a></div>
        </div>
        {{/foreach}}
    </div>
</div>